* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  font-family: "Kalam";
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
@import "./varsAndMixins";
@import "./preloader";
@import "./main";
@import "./menu";
@import "./imgSlider";
@import "./openCloseBtn";
@import "./modalWindow";
@import "./headingAndLogo";
@import "./foodMenu";
@import "./imageGallery";
@import "./contact";

////Animations Classes
.os-animation {
  opacity: 0;
  margin: 0;
  max-width: 100%;
}
.os-animation.animated {
  opacity: 1;
}
